.button {
  width: 100%;
  border-radius: 7.5px;
  background: var(--color-neutral-1);
  color: var(--color-neutral-4);
  padding: 1rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-block: 1rem;
  transition: all 200ms ease-in;
}

.button:hover {
  background: linear-gradient(to right, #FF527B, #FF6A3A);
  box-shadow: 5px 10px 25px rgba(255, 106, 58, 0.4);
  cursor: pointer;
}

@media (min-width: 700px) and (max-width: 950px) {
  .button--form {
    padding: 0.3rem;
    margin-block: 0.2rem;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
}