.button {
  width: 100%;
  border-radius: 7.5px;
  background-color: var(--color-neutral-1);
  color: var(--color-neutral-4);
  padding: 1rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-block: 1rem;
}