.sign-up {
  grid-area: text;
  padding: 1rem 1.5rem;
}

.sign-up__list-items {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-block: 1.5rem;
}

@media (min-width: 700px) {
  .sign-up {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    padding-inline: 2rem;
  }
}
