.sign-up__label {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-neutral-1);
}

.sign-up__input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-neutral-3);
  border-radius: 7.5px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-block: 0.5rem;
  opacity: 0.7;
}

@media (min-width: 700px) and (max-width: 950px) {
  .sign-up__input {
    padding: 0.25rem;
    margin-block: 0.2rem;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
}