@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: local("Roboto"), url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
  /* COLORS */
  --color-primary: hsl(4, 100%, 67%);

  --color-neutral-1: hsl(234, 29%, 20%);
  --color-neutral-2: hsl(235, 18%, 26%);
  --color-neutral-3: hsl(231, 7%, 60%);
  --color-neutral-4: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 700px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-neutral-2);
  }

  #root {
    display: flex;
    justify-content: center;
  }
}